<%- include("partials/header") %>
<main>
    <section>
        <h1>All Drivers</h1>
        <form action="/drivers" method="get">
            <label for="search">Search</label>
            <input type="text" id="search" name="q" value="<%= q %>" placeholder="Enter Driver name">
            <button type="submit">Search</button>
        </form>
        <form action="/drivers" method="get">
            <select name="sortField">
                <option value="name" <%= sortField === "name" ? "selected" : "" %>>Name</option>
                <option value="driverNumber" <%= sortField === "driverNumber" ? "selected" : "" %>>Driver Number</option>
                <option value="nationality" <%= sortField === "nationality" ? "selected" : "" %>>Nationality</option>
            </select>
            <select name="sortDirection">
                <option value="asc" <%= sortDirection === "asc" ? "selected" : "" %>>Ascending</option>
                <option value="desc" <%= sortDirection === "desc" ? "selected" : "" %>>Descending</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    </section>
    <section>
        <table class="drivers-table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Team</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% drivers.forEach(driver => { %>
                <tr>
                    <td>
                    <img src="<%= driver.imageUrl %>" 
                        class="driver-avatar" 
                        alt="<%= driver.name %>">
                    </td>
                    <td>#<%= driver.driverNumber %></td>
                    <td><%= driver.name %></td>
                    <td> <%= driver.nationality %></td>
                    <td class="table-image-wrapper">
                        <img src="<%= driver.currentTeam.imageUrl %>"
                        class="team-logo"
                        alt="<%= driver.currentTeam.name %>">
                    </td>
                    <td class="<%= driver.isActive ? 'status-active' : 'status-inactive' %>">
                        <%= driver.isActive ? 'Active' : 'Inactive' %>
                    </td>
                    <td>
                        <a href="/driver/<%= driver.id %>" class="button">Details</a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </section>
</main>
<%- include("partials/footer") %>